/* BOX-SIZING para calcular directamente todas las dimensiones de las cajas */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/*estilo para toda la página*/
body
{
  margin: 0px;
  color: #1258DC;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
    
}


/* Establecemos el centrado y las dimensiones de los elementos principales */

nav,.container,footer {
  max-width: 1200px;
  min-width: 576px;
  margin:0px auto;
}



/* Estilos para el menú principal */
nav {
  background-color: #1258DC;
  padding: 10px;
  position: sticky;
  overflow-y: auto;
  top: 0px;
  z-index: 100; /*para que se quede a la capa de arriba del todo*/
}

nav ul {
  list-style-type: none;
  float: left;
  margin-left: 20px;
  padding: 5px;

}
nav li {
  display: inline-block;
  padding-right: 15px;
}

nav li a {
 color: #FB8604;
 font-size: 1,4px;
 text-decoration: none;
}
nav li a:hover{
  background-color: #144EB8;
 

}

/* Estilos para la cabecera */
header {
  position: relative;
  text-align: center;
}

/* Fondo de la cabecera */

header img {
  opacity: 0.7;
  width: 100%;
}


/* Call for action para Comprar */

aside {
  background-color: #1258DC;
  border-radius: 20px;
  color: #FB8604;
  padding: 10px;
  position: absolute;
  right: 15%;
  text-align: center;
  top: 30%;
  width: 20%;
}

aside a {
  background-color: #FB8604;
  border-radius: 10px;
  font-size: 1em;
  color: #F7E9D4;
  margin-top: 40px;
  padding: 10px;
  text-decoration: none;
}
aside a:hover {
  font-size: 2em;
}

aside h3 {
  margin: 20px 0px;
}

/* Elemento principal con las 3 cards */
main {
  margin: 0px auto;
  width: 90%;
}

main h1{
  text-align: center;
}

figure.card {
float:left;
padding: 10px;
text-align: center;
width: 25%

}

.card img {
  width: 100%;
}


/* Sección de los tres párrafos descriptivos */

.texto {
  margin: 15px auto;
  overflow-y: auto;
  width: 90%;
}


.texto div {
  float: right;
  margin-top: 20px;
  text-align: justify;
  color: #3333ff;

}

/* Mostrarmos la primera letra con un borde diferente */

.texto div::first-letter {
  border-right: 1px solid #FB8604;
  border-bottom: 1px solid #FB8604;
  color: #FB8604;
  font-size: 2em;
  margin-right: 10px;
  padding-right: 10px;
}


/* Estilos para el pie de página */
footer {
  background-color: #091834;
  clear: both;
  color: #FB8604;
  font-weight: bolder;
  font-size: 0.8;
  margin-top: 20px;
  overflow-y: auto;
  padding: 20px;
}

footer address {
  float: left;
  width: 20%;
 }

footer address p, div p {
  margin: 0px;

}

footer div {
  float: left;
  text-align: center;
  width: 60%;
}

footer [src="img/logo_itb.png"] {
  width: 20%;
}

footer section {
  float: left;
  text-align: center;
  width: 20%;
}

footer img {
  width: 12%;
}
